@import url('https://fonts.googleapis.com/css?family=Poiret+One|Roboto:400,700,700i,900,900i&display=swap');

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  font-family: 'Poiret One', cursive;
  width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  background-color: black;
  margin: 0px;
}

input {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
}

/* form styles */
.search-container {
  width: 510px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
input#inputSearchVal {
  background-color: black;
  margin: 20px auto;
  width: 460px;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid grey;
  outline: none;
  color: grey;
}

input#inputSearchVal:focus {
  border: 1px solid white;
  transition: 0.35s ease;
  color: white;
}

input#inputSearchVal:focus -webkit-input-placeholder{
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#inputSearchVal:focus -moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#inputSearchVal:focus -ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: absolute;
  float: right;
  width: 35px;
  height: 35px;
  right: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}
/* section styles */
#getData {
  background: black;
  width: 100px;
  margin: 2%;
}
#searchResultDiv{
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white
}
.divRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dayDiv {
  color: white;
  background-color: black;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 20px;
    transition: 0.5s ease;
}
.dayDiv:hover {
  background-color: #141414;
  -webkit-box-shadow: 0 4px 6px -6px #4d4d4d;
   -moz-box-shadow: 0 4px 6px -6px #4d4d4d;
        box-shadow: 0 4px 6px -6px #4d4d4d;
}

.dayDiv p {
  text-transform: capitalize;
}

.dayDiv h1 {
  text-align: center;
}
